<%- include('partials/header') %>
<a class="btn btn-dark btn-lg" href="/request" role="button">Create a request</a>
<form action="/logout">
        <button class="btn btn-lg btn-warning" type="submit" name="button">Logout</button>
</form>
<p>Welcome <%=username%></p>

<h1>Your recent requests</h1>
    <% for(let i = 0; i < posts.length; i++) { %>
        <article>
            <h2><%= posts[i].purpose %></h1>
            <p><a href = "/files/<%= posts[i].source.filename %>" target = "_blank"><%= posts[i].source.filename %></a></p>
            <% for(let j = 0; j < posts[i].to.length; j++) { %>
            <p><%= posts[i].to[j] %></p>
            <% } %>
            <% if(files){ %>
                      <% files.forEach(function(file) { %>
                        <% if(file.filename == 'Screenshot_1575225083.png'){ %>
                        <div class="card card-body mb-3">
                              <a href = "/files/<%= file.filename %>" target = "_blank"><%= file.filename %></a>
                        </div>
                        <% } %>
                        <% }) %>
                          <% } else { %>
                            <p>No files to show</p>
                            <% } %>
        </article>
    <% } %>
