<%- include('partials/header') %>
<h1 class="display-4">Faculty verification</h1>
<h1>Recent requests</h1>
<p>Purpose</p>
<form action="/fac_verification" method="post">
  <input type="text" name="facEmail"/>
  <div class="btn-block">
    <button type="submit">Search</button>
  </div>
</form>
<% if (locals.posts) { %>
<% for(let i = 0; i < posts.length; i++) { %>
  <article>
    <button type="button" class="collapsible"><h2> + <%= posts[i].purpose %></h1></button>
      <div class="content">
        <p><a href = "/files/<%= posts[i].source.filename %>" target = "_blank"><%= posts[i].source.filename %></a></p>
        <% for(let j = 0; j < posts[i].to.length; j++) { %>
        <p><%= posts[i].to[j] %></p>
        <% } %>
  </article>
  <form action="/update/<%=posts[i].ID%>" method="post">
    <div class="btn-block">
      <button type="submit">Verify</button>
    </div>
  </form>
  <form action="/decline/<%=posts[i].ID%>" method="post">
    <div class="btn-block">
      <button type="submit">Decline</button>
    </div>
  </form>
<% } %>
<% } %>
<script type="text/javascript">
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
content.style.display = "none";
} else {
content.style.display = "block";
}
});
}
</script>
