<%- include('partials/header') %>
<h1 class="display-4">Faculty verification</h1>
<h1>Recent requests</h1>
<p>Purpose</p>
<form action="/fac_verification" method="post">
  <input type="text" name="id"/>
  <div class="btn-block">
    <button type="submit">Search</button>
  </div>
</form>
<% if (locals.data) { %>
  <h3>From : <%= data.from %></h3>
  <h3>Purpose : <%= data.purpose %></h3>
  <h3>Roll Number :  <%= data.rollno %></h3>
  <h3>Date of Submission :  <%= data.date.getDate()%>/<%=data.date.getMonth()+1 %>/<%=data.date.getFullYear()%></h3>
  <h3>Description :  <%= data.description %></h3>
  <h3>SAC status : <%= data.key.SAC %></h3>
  <h3>FAC status : <%= data.key.FAC %></h3>
  <p><a href = "/files/<%= data.source.filename %>" target = "_blank"><%= data.source.filename %></a></p>
<% } %>
<form action="/fac_update" method="post">
  <div class="btn-block">
    <button type="submit">Verify</button>
  </div>
</form>
