<%- include('partials/header') %>
<h1>Recent requests</h1>
<% for(let i = 0; i < posts.length; i++) { %>
<article>
  <h2><%= posts[i].purpose %></h1>
    <p><%= posts[i].from %></p>
    <p><%= posts[i].rollno %></p>
    <p><%= posts[i].date %></p>
    <% for(let j = 0; j < posts[i].to.length; j++) { %>
    <p><%= posts[i].to[j] %></p>
    <% } %>
    <form action="/requests/<%= posts[i].rollno %>" method="post">
      <input type="checkbox" name="status[0]">Confirm
      <input type="checkbox" name="status[1]">Not Confirm
      <div class="btn-block">
        <button type="submit" href="/success">Submit</button>
      </div>
    </form>
    <p><%= posts[i].email %></p>
    <p><%= posts[i].description %></p>
    <p><%= posts[i].duration %></p>

</article>
<% } %>
<script type="text/javascript">
  var cont = 1;

  function addParticipant() {
    var div = document.createElement('div');
    div.className = 'participant';
    div.innerHTML = '<input type="text" name="status[' + cont + ']">';

    document.getElementById('participant').appendChild(div);
    cont++
  }

  function delParticipant() {
    var select = document.getElementById('participant');
    document.getElementById('participant').removeChild(select.lastChild);
    cont--
  }
</script>
